.cartButtons {
    padding: 7px;
    font-size: 15px;
    text-decoration: none;
    color: #C3A492;
    font-weight: lighter;
    border-radius: 10px;
    border-color: #F8DFD1;
}
.cartButtons:hover {
    padding: 7px;
    font-size: 15px;
    text-decoration: none;
    color: white;
    font-weight: bolder;
    border-radius: 10px;
    border-color: #F8DFD1;
    background-color: #C3A492;
}

