.App-header {
    font-size: 30px;
    text-align: center;
    background-color: white;
    -webkit-text-stroke: 1px #C3A492;
    color: transparent;
}


.navigation-menu{
     margin: 20px;
}

ul{
    list-style: none;
    text-decoration: none;
    ;
}

li{
   
    padding: 15px;
    font-size: 15px;
    text-decoration: none;
    color: darkgray;
    display: inline-block
    
}

a{
    text-decoration: none;
    text-decoration-color: none;
    color: darkgray;
    padding: 10px;
}

a:hover{
    background-color: #C3A492 ;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    padding: 10px;
    
}

.greeting{
    font-size: 25px;
    color: #C3A492;
}

